body{
    margin:0;
    background-color: black;
}
#prehead{
    background-color: rgb(181, 40, 228);
    width:100%;
    height:6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preheadimage{
    width:7vw;
    height:5vh;
    margin-right: 0;
}
#preheadlink{
    color: aliceblue;
}
#preheadlink:hover{
    color: rgb(242, 95, 95);
    font-size: large;
    text-shadow:white 1px 1px;
    cursor: pointer;
}
#head{
    font-family: 'Dancing Script', sans-serif;
    width: 100%;
    height:fit-content; 
    display: flex;
    flex-direction: row;
}
#heading{
    width: 55%;
    color: aliceblue;
    height:15vh;
    display:flex;
    justify-content: flex-end;
}
#search-container{
    width:70%;
    height:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
::placeholder{
    color: blue;
    height:100%;
}
#search{
    background-color: white;
    color: black;
    width:60%;
    height:20%;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px; 
    padding:1%;
}
#login-container{
    width:45%;
    height:15vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    align-items: center;
}
#login{
    background-color: black ;
    width:15%;
    height:45%;
    border-radius: 10%;
    color: white;
    font-size: 1vw;
    font-size: 2vh;
}
#login:hover{
    background-color: rgb(13, 86, 220);
    width: fit-content;
    font-size:medium;
    cursor: pointer;
}
#horinav{
    margin-top:5%;
    width: 100%;
    height: 7vh;
    font-size: 100%;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top:0.4px;
}
.navicon{
    width:16%;
    font-size:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%

}
.navicon:hover{
    border:1px solid white;
    font-size: 110%;
    background-color: rgba(50, 48, 48, 0.683);
    cursor: pointer;
}
#fullpage{
    width:100%;
}
#pagecontent{
    margin:5% 5% 5% 5%;
    width:90%;
    height:fit-content;
    background-color: rgb(28, 27, 27);
    display: flex;
    flex-direction: column;
}
#title1{
    width:100%;
    height:15vh;
    color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#feed1{
    width:100%;
    height:60vh;
    display: flex;
    justify-content: center;
}
#slideshow{
    width:60%;
    height:60vh;
    border:1px solid white;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.image,.photo{
    width:100%;
    height:100%;
}
#image-container{
    width:50%;
    height:100%;
}
#image1,#image2,#image3,#image4{
    display: none;
}
.prev-container,.next-container{   
    display: flex;
    justify-content:center;
    align-items: center;
    width:25%;
}
.prev,.next{
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
    width:30%;
    text-align: center;
}
.prev:hover,.next:hover{
    border:1px solid black;
    background-color: rgb(224, 220, 215);
    cursor: pointer;
}
#feed2{
    border-top: 10px solid white ;
    margin-top:3%;
    width:100%;
    height:80vh;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#classic-title{
    width:100%;
    height:15vh;
    color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#classic-container{
    margin-top:3%;
    width:100%;
    height:51vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c-book{
   height:50vh;
   width: 19%;
   border:2px solid white;
}
.c-book:hover{
   border:0px;
}
.c-image{
    width:100%;
    height:50vh;
}
.c-image-n{
    width:100%;
    height:50vh;
    display: none;
}
.c-image:hover{
    cursor:pointer;
    width:102%;
    height:51vh;
}
.c-image-n:hover{
    cursor: pointer;
    width:102%;
    height:51vh;
}
#classic-mover-prev,#classic-mover-next{
    position: absolute;
    top:175vh;
    z-index:1;   
}
#classic-mover-next{
    right:6.5%;
}
.classic-next,.classic-prev{
   cursor: pointer;
   font-size: xx-large;
   font-weight: bolder;
   width:30%;
   text-align: center;   
}
.classic-next:hover,.classic-prev:hover{
    border: 3px solid black;
    opacity: 0.5;
    padding:40%;
    cursor: pointer;
}
.footer{
    width:100%;
    height:5vh;
    background-color: aliceblue;
    position:sticky;
    bottom: 0px;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 20;
}
#license,#date,#time{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: 900;
}
.c-card{
    position:absolute;
    top:120%;
    right:15%;
    width:70%;
    height:75vh;
    z-index:3;
    background-color: white;
    display:none;
}#cardcontent{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-rows: 7% 53% 40%;
}
#cardclose{
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-end;
}
#cardcloseimage{
    margin:1%;
    height:70%;
}
#cardimage{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 45%  45%;
    grid-template-rows: 100%;
    justify-content: space-between;
}
#book,#author{
    width:100%;
    height:100%;
}
#carddetails{
    width:100%;
    height:100%;
}
#carddetailscontent{
    margin-inline:10%;
    margin-top:4%;
    margin-bottom:4%;
    width:80%;
    height:80%;
}
.authorimage{
    width:100%;
    height:100%;
    display:none;
}
.bookimage{
    width:100%;
    height:100%;
    display:none;
}
#author{
    font-size: larger;
    font-weight: bolder;
}
.para{
    width:100%;
    height:100%;
    display:none;
}
#carddetailscontent{
    display: flex;
    align-items: center;
}


